.App{
    min-height: 100vh;
    padding: 2em;
}
.appTitle{
    font-size: 6rem;
    text-align: center;
}
.sectionList{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    gap: 1em;
}
.sectionList h1{
    font-size: 5rem;
    padding: 0em .5em;
    grid-column: 1/span 2;
    border-bottom: .5rem solid;
}
.sectionList div{
    padding: 1em;
}
.add{
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    color: transparent;
    font-size: 3rem;
}
.sectionList:hover .add{
    color: inherit;
}