*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background: #F5F2F4;
    --fontColor: #161928;
    --main: #265E8F;
    --lAccent: #5CB8D7;
    --dAccent: #859CB8;
}
html{
    font-size: 62.5%;
    font-family: Calibri;
} 
@media screen and (max-width: 1000px) {
    html{
        font-size: 35%;
    }
}
button, input{
    border: none;
    user-select: none;
    outline: none;
    color: inherit;
}
button{
    cursor: pointer;
}
#root{
    background-color: #161928;
    min-height: 100vh;
    display: grid;
    justify-content: center;
    padding: 1em;
}