*{
    margin: 0;
    box-sizing: border-box;
    --background: rgb(2, 37, 90);
    --fontColor: rgb(255, 255, 255);
    --header: rgb(3, 78, 139);
    --contentBG: rgb(0, 122, 223);
}
html{
    font-size: 62.5%;
} 
button, input{
    border: none;
    user-select: none;
    outline: none;
    color: inherit;
}
button{
    cursor: pointer;
}