.editing{
    display: flex;
}

form{
    display: none;
    position: fixed;
    align-items: center;
    justify-content: space-evenly;
    top: 0;
    bottom: 80%;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: var(--header);
    box-shadow: 0rem .5rem .5rem rgb(36, 35, 35);
}
.outBtn{
    position: fixed;
    z-index: 99;
    bottom: 0;
    opacity: .3;
    background-color: black;
    top: 20%;
    left: 0;
    right: 0;
}