.editing{
    display: grid;
    animation: .2s ease slideIn;
}
@keyframes slideIn {
    0%{
        transform: rotateX(-90deg);
    }
    100%{
        transform: rotateX(0deg);
    }
    
    
}
form{
    display: none;
    position: fixed;
    align-items: center;
    transform-origin: top center;
    grid-template-columns: repeat(3, 1fr);
    top: 0;
    bottom: 80%;
    left: 0;
    right: 0;
    padding: 1em;
    z-index: 999;
    background-color: var(--dAccent);
    box-shadow: 0rem .5rem .5rem rgb(36, 35, 35);
}
.outBtn{
    position: fixed;
    z-index: 99;
    background-color: transparent;
    bottom: 0;
    top: 20%;
    left: 0;
    right: 0;
}